extends ./layouts/mainLayout.pug

block content
    h1 Bienvenido a la pagina de pruebas de pug y express!!! 
    img.frontImg(src='/images/captura.png' alt='captura pantalla codigo')
    p En este lugar estamos desarrollando una pagina con pug y express con MVC.
    hr.hr
    h1 Segunda seccion: 
    strong En esta sección encontramos algo mas de lo mismo.
    h1 Mira este video
    iframe(width="560" height="315" src="https://www.youtube.com/embed/oRH5lH7F7TY" 
           title="YouTube video player" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
           allowfullscreen)
    h2 Esto es todo por el momento, pero se puede hacer mucho mas... Espero seguir aprendiendo.
